body {
    font-family: sans-serif;
}
.ball {
    float:left;
    margin: 10px;
} 
h1{
    font-size: 20px;
    text-align: center;
    background-color: yellow;
    
}
h2 {
    font-size: 20px;
    text-align: center;
    background-color:blue;

}
.b{
    display: flex;
}
.anime{
    display: flex;
    height: 200px;
    justify-content: space-around;
}

footer{
    background-color: rgb(49, 167, 167);
    padding: 2px;
    margin: 10px;
}

